# Ignore Python virtual environment
venv/

# Ignore pipenv environment
.Python

# Byte-compiled / optimized Python files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python_build/
build/
dist/
egg-info/

# Ignore IDE paths
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.pydevproject
