:root {
    --color-primary-0: #ffffff;
    --color-primary-100: #dfcaff;
    --color-primary-200: #bc97ff;
    --color-primary-300: #9364fe;
    --color-primary-500: #5d2dfb;
    --color-primary-600: #4925b6;
    --color-primary-700: #351d76;
    --color-primary-800: #20133b;
    --color-primary-900: #000000;
}
* {
    font-family: Helvetica, sans-serif;
    box-sizing: border-box;
}
body {    
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    color: var(--color-primary-500);
    background: var(--color-primary-0);
}
.app {
    width: 100%;
    height: 100%;
    display: flex;
    overflow: auto;
}
.page {
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    align-content: center;
    display: none;
}
.page.active {
    display: flex;
}
.login-page {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.login {
    width: 50%;
    max-width: 300px;
    display: flex;
    flex-direction: column;
}
.login h3 {
    text-align: left;
    font-size: 22px;
}
.login h4 {
    text-align: left;
    margin-bottom: 15px;
}
.input-group {
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
}
.input-group label {
    font-size: 14px;
    margin-bottom: 5px;
    color: #eeecf6;
}
.input-group input {
    outline: 0;
    border: 0;
    font-size: 14px;
    padding: 10px 15px;
    border-radius: 10px;
    transition: all 0.2s linear;
    color: #212121;
    border: solid 1px #9e9e9e;
}
.input-group input:focus {
    border-color: var(--color-primary-500);
}
.btn {
    border: 0;
    outline: 0;
    border-radius: 10px;
    background: var(--color-primary-500);
    color: var(--color-primary-0);
    padding: 10px;
    cursor: pointer;
    transition: all 0.2s linear;
}
.btn:disabled {
    opacity: 0.5;
}
.home {
    width: 100%;
    height: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.home .header {
    border-radius: 10px;
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background: var(--color-primary-500);
    color: var(--color-primary-0);
    box-shadow: 0 0 10px 5px rgba(93, 45, 251, 0.2);
}
.home .header .header-logo {
    border-radius: 5px;
    width: 80px;
    height: 40px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    font-size: 30px;
    font-weight: 900;
}
.home .header .header-text h2,
.home .header .header-text h3 {
    text-align: right;
    font-weight: 500;
}
.home .sections {
    width: 100%;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
}
.home .sections .section {
    width: 100%;
    margin-bottom: 40px;
}
.home .sections .section .section-header {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 20px;
}
.home .sections .section .section-content .cards {
    width: 100%;
    display: flex;
    flex-direction: row;
}
.home .sections .section .section-content .cards .cards-column {
    display: flex;
    flex-direction: column;
}
.home .sections .section .section-content .cards .cards-column:first-child {
    width: 40%;
    margin-right: 20px;
}
.home .sections .section .section-content .cards .cards-column:last-child {
    width: calc(60% - 20px);
    margin: -10px 0;
}
.home .sections .section .section-content .cards .card {
    width: 100%;
    height: 100%;
    padding: 15px;
    margin: 10px 0;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    border: solid 1px #e0e0e0;
    position: relative;
    color: #616161;
}
.home .sections .section .section-content .cards .card.primary {
    margin: 0;
    background-image: linear-gradient(to right bottom, #5d2dfb, #6f3efc, #7e4efd, #8c5dfd, #996bfe);
}
.home .sections .section .section-content .cards .card.primary .card-title {
    color: #eeeeee;
}
.home .sections .section .section-content .cards .card.primary .card-content {
    font-size: 150px;
    color: var(--color-primary-0);
}
.home .sections .section .section-content .cards .card .card-content {
    color: var(--color-primary-500);
    font-weight: 700;
    font-size: 60px;
    margin-top: 10px;
    
}
.home .sections .section .section-content ul {
    width: 100%;
}
.home .sections .section .section-content ul li {
    color: #616161;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 15px;
    font-weight: 500;
    border: solid 1px #e0e0e0;
}
.home .sections .section .section-content ul li span:last-child {
    color: var(--color-primary-900);
}
.home .sections .section .section-content ul li a {
    color: #382bf0;
    cursor: pointer;
}